<h1><%= t '.title_page' %></h1>

<table>
  <thead>
    <tr>
      <th style="width: 100px"><%= t '.title' %></th>
      <th style="width: 100px"><%= t '.location' %></th>
      <th><%= t '.description' %></th>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= room.title %></td>
        <td><%= room.location %></td>
        <td><%= room.description %></td>
        <td><%= link_to t('links.show'), room %></td>
        <td><%= link_to t('links.edit'), edit_room_path(room) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new'), new_room_path %>
